html {
  background-color: grey;
}
.container {
  overflow: auto;
  margin: 30px 100px;
  background-color: #c2d6d6;
  border: 5px solid white;
  position: relative;
}

img {
  border: 5px solid;
  height: 550px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 40px;
  right: 0;
  position: absolute;
  pointer-events: none;
}

#map {
    width: 375px;
    height: 550px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 40px;
    position: absolute;
    right: 0;
  }

/* Input Boxes */

.input-box {
  overflow: auto;
  width: 50%;
}

  .name-1-box, .name-2-box, .date-box, .location-box {
    height: 100px;
    background-color: white;
    width: 75%;
    margin: 40px;
    border-radius: 5px;
  }

  .name-1-box input, .name-2-box input, .date-box input, .location-box input{
    width: 75%;
    height: 30px;
    margin-top: 10px;
  }

/* Input Boxes */

/* Names */
  #name-1 {
    position: absolute;
    bottom: 125px;
    right: 250px;
    font-size: 22px;
  }

  #name-2 {
    position: absolute;
    bottom: 125px;
    right: 160px;
    font-size: 22px;
  }
/* Names */

/* Engaged In */
  #static-eng-in{
    position: absolute;
    bottom: 95px;
    right: 190px;
  }
/* Engaged In */

/* Date */
  #date {
    position: absolute;
    bottom: 60px;
    right: 180px;
  }
/* Date */
