html, body {
  background-color: #414654;
  margin:0px;
  padding:0px;
}
.hidden-mobile {
  display: none;
}

/* Main Page */
.wrapper-1, .wrapper-2 {
  width: 100%;
  text-align: center;
}

.location-box {
  position: relative;
  display: inline-block;
  height: 10%;
  background-color: #eaf1f8;
  width: 85%;
  height: 60px;
  border: 10px solid #eaf1f8;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 0 auto;
}

.img-box {
  position: relative;
  text-align: center;
  width: 100%;
  height: 50%;
  overflow-x: hidden;
}

#logo {
  width: 60%;
  display: inline-block;
  margin-top: 10px;
}

#autocomplete {
  display: inline-block;
  height: 60%;
  width: 80%;
  border: 1px solid white;
  border-radius: 5px;
}

#map {
  width: 85%;
  height: 90%;
  position: absolute;
  display: inline-block;
}


#artboard {
  width: 85%;
  border: 10px solid #eaf1f8;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  pointer-events: none;
}

.heart-icon {
  position: absolute;
  width: 5%;
  height: 5%;
  z-index: 1;
  cursor: grab;
}

.heart-icon img {
  height: 100%;
}


.btn-personalize {
  background-color: #58aed1;
  width: 85%;
  display: inline-block;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 10px solid #58aed1;
  border-radius: 5px;
  position: relative;
}

/* Main Page */

/* Second Page */
.input-box {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  position: relative;
}

  .name-1-box, .name-2-box, .date-box{
    height: 90px;
    background-color: #eaf1f8;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .name-1-box input, .name-2-box input, .date-box input, .location-box input{
    width: 90%;
    height: 50%;
    border-radius: 5px;
    border: white;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 5%;
  }

label {
  padding-left: 12px;
  font-family: sans-serif;
  padding-top: 5px;
}

.poster-size {
  width: 90%;
  height: 50%;
  border-radius: 5px;
  border: white;
  font-size: 18px;
  margin-top: 10px;
  padding-left: 5%;
}

#btn-generate {
  height: 50px;
  background-color: #418BA6;
  border-color: #418BA6;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
}

#btn-checkout {
  height: 50px;
  background-color: #267496;
  border-color: #267496;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
}

/* Input Boxes */

/* Second Page */

.name-box{
	padding-top:10px;
}

/* Third Page */
#artboard-pg3 {
  width: 80%;
  border: 10px solid #eaf1f8;
  border-radius: 5px;
  margin-top: 40px;
}

.btn-continue {
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #6699CC;
  border-radius: 5px;
  border: 1px solid #6699CC;
  width: 84%;
  height: 50px;
  margin-top: 20px;
}
/* Third Page */

@media only screen and (min-width: 992px) {

}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 600px) {
.wrapper-1, .wrapper-2 {
  width: 96%;
  margin-left:auto;
  margin-right:auto;
}
.location-box {
  width: 92%;
}
#autocomplete {
    width: 92%;
}
#map {
  width: 92%;
}
#artboard {
  width: 92%;
}
.btn-personalize {
	width: 98%;
}
.name-box{
	width: 96%;
}
#btn-generate {
    width: 96%;
}
}
