html {
  background-color: #414654;
}
.container {
  overflow: auto;
  margin: 30px 100px;
  background-color: #414654;
  /*border: 5px solid white;*/
  position: relative;
}

img {
  border: 25px solid white;
  border-radius: 5px;
  height: 480px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 40px;
  right: 0;
  position: absolute;
  pointer-events: none;
}

#map {
    width: 355px;
    height: 520px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 40px;
    position: absolute;
    right: 0;
  }

/* Input Boxes */

.input-box {
  overflow: auto;
  width: 50%;
}

  .name-1-box, .name-2-box, .date-box, .location-box {
    height: 90px;
    background-color: #C0C0C0;
    width: 75%;
    margin: 20px;
    border-radius: 5px;
  }

  .name-1-box input, .name-2-box input, .date-box input, .location-box input{
    width: 75%;
    height: 40px;
    margin-top: 10px;
    margin-left:  10px;
    border-radius: 5px;
    border: white;
    font-size: 20px;
  }

label {
  padding: 10px;
  padding-top: 50px;
}
/* Input Boxes */

/* Names */
  #name-1 {
    position: absolute;
    bottom: 125px;
    right: 250px;
    font-size: 22px;
  }

  #name-2 {
    position: absolute;
    bottom: 125px;
    right: 160px;
    font-size: 22px;
  }
/* Names */

/* Engaged In */
  #static-eng-in{
    position: absolute;
    bottom: 95px;
    right: 190px;
  }
/* Engaged In */

/* Date */
  #date {
    position: absolute;
    bottom: 60px;
    right: 180px;
  }
/* Date */
#btn-generate {
  height: 50px;
  background-color: #418BA6;
  border-color: #418BA6;
  border-radius: 5px;
  width: 75%;
  margin-top: 0px;
  margin-left: 20px;
  cursor: pointer;
}

#btn-checkout {
  height: 50px;
  background-color: #267496;
  border-color: #267496;
  border-radius: 5px;
  width: 75%;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
